<ion-header>
  <ion-toolbar>
    <ion-title>Prime Properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p style="padding: 10%;">
    Please enter the email address that you have used to sign up for an account. We will send you a link that will allow you to reset your account password.
  </p>
  <form (ngSubmit)="reset($event)" style="text-align: center;">

  <ion-item>
    <ion-label position="stacked">Email Address</ion-label>
    <ion-input placeholder="Email" type="text" type="text" placeholder="Email" name="Email"></ion-input>
  </ion-item>

  <ion-button type="submit" expand="block" color="primary">
    Send reset Password Email
  </ion-button>
</form>

</ion-content>