.active {
    --ion-text-color: var(--ion-color-primary);
    ion-icon {
        --ion-text-color-rgb: var(--ion-color-primary)
    }
}

.active-parent {
    font-weight:bold;
    font-size: large;
    
}

.sub-item {
    padding-left: 20px;
    font-size: small;
}

.back {
    background-color: black;
}

// ion-content {
//     --background: var(--ion-color-primary) !important;
// }
.back {
    --background: var(--ion-color-primary) !important;

}