<ion-header>
  <ion-toolbar>
    <ion-title>Prime Properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input placeholder="Password" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input placeholder="Password" type="password"></ion-input>
  </ion-item>

  <ion-button type="submit" expand="block" color="primary">Register</ion-button>

  <a class="main-nav__link" routerLink="/access">Already registered? Login</a></ion-content>
